html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 2.5rem;
}

a:hover,
a:focus {
  text-decoration: none;
}

button:hover,
button:focus {
  outline: none;
}

.navbar__actions, .navbar__footer,
.chat__title, .chat__messages, .chat__footer {
  background-color: #f9f9f9;
}

.headers {
  border-bottom: 1px solid #ccc;
  background-color: #9772f2;
  height: 8rem;
  width: 100%;
}

.status--green {
  background-color: #00ff00;
  border: .2rem solid #fff;
  border-radius: 50%;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
}

p, span, ul, li, h1, h2, h3, h4, h5, h6,
.row, .col-lg-3, .col-lg-4, .col-lg-5 {
  margin: 0;
  padding: 0;
}

.bg-grey {
  background-color: #666;
}

.bg-yellow {
  background-color: #ffb700;
}

.opacity {
  opacity: 1 !important;
}

/* main styles */
.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  position: relative;
  height: 100vh;
}

/* navbar styles */
.navbar {
  background-color: #9772f2;
  min-width: 6rem;
}

.navbar .navbar__header,
.navbar .navbar__actions,
.navbar .navbar__footer {
  display: none;
}

.navbar.show .navbar__header,
.navbar.show .navbar__actions,
.navbar.show .navbar__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.navbar.show {
  border-right: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  position: relative;
  width: 20%;
}

.navbar__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
}

.navbar__user {
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  height: 4rem;
  width: 4rem;
}

.navbar__user:hover,
.navbar__user:focus {
  color: #fff;
}

.navbar__user span {
  position: absolute;
  right: 0;
  bottom: 0;
}

.navbar__edit {
  background-color: #fa626b;
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 4rem;
  width: 4rem;
}

.navbar.show .navbar__edit {
  top: 2rem;
  right: 2rem;
}

.navbar .navbar__edit {
  top: 2rem;
  right: 1rem;
}

.navbar__edit i {
  color: #fff;
  font-size: 2.5rem;
}

.navbar__edit i.rotate {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar__edit .desktop {
  display: block;
}

.navbar__edit .tablet {
  display: none;
}

.navbar__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  padding: 2rem;
  height: calc(100vh - 8rem - 8rem);
  width: 100%;
}

.navbar__list {
  margin-bottom: 2rem;
  width: 100%;
}

.navbar__title {
  color: #777;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.navbar__title span {
  font-weight: bold;
}

.navbar__items {
  color: #777;
  list-style: none;
}

.navbar__item * {
  font-size: 2.1rem;
}

.navbar__action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__action p {
  cursor: pointer;
  padding-left: 3rem;
  position: relative;
  width: 100%;
}

.navbar__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__name.strong {
  color: #555;
  font-weight: 600;
}

.navbar__name i  {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.navbar__dropdown--icon {
  position: absolute;
  left: .5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar__collapse {
  padding-left: 5rem;
}

.navbar__collapse a {
  color: #777;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__collapse span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__collapse span i {
  font-size: 1.5rem;
  text-align: center;
  width: 3rem;
}

.navbar__number {
  font-size: 1.7rem;
}

.navbar__collapse a.text-blue {
  color: #0080ff;
}

.navbar__footer {
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  height: 8rem;
  width: 100%;
}

.navbar__footer--action {
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1rem #777;
          box-shadow: 0 0 1rem #777;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  width: 5rem;
}

.navbar__footer--action i {
  color: #999;
  font-size: 2rem;
}

.navbar__footer--action.active  {
  background-color: #0080ff;
}

.navbar__footer--action.active i {
  color: #fff;
}

/* letters styles */
.letters {
  width: 25%;
}

.letters__header {
  border-right: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.letters__header input {
  background-color: #f1f1f1;
  border: 0;
  border-radius: 1rem;
  font-size: 1.9rem;
  outline: none;
  padding: .5rem 1.5rem;
  width: 100%;
}

.letters__header input::-webkit-input-placeholder {
  color: #aaa;
}

.letters__header input:-ms-input-placeholder {
  color: #aaa;
}

.letters__header input::-ms-input-placeholder {
  color: #aaa;
}

.letters__header input::placeholder {
  color: #aaa;
}

.letters__header i {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 2rem;
}

.letters__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  height: calc(100vh - 8rem);
  width: 100%;
}

.letters__item {
  /*background-color: #09f;*/
  /*color: #fff;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding: 1rem 1rem 1rem 2rem;
}

.letters__item:not(:last-child) {
  border-bottom: 2px solid #ccc;
}

.letters__item--title,
.letters__item--re,
.letters__item--text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.letters__item--title,
.letters__item--re {
  margin-bottom: .5rem;
}

.letters__item--title span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem;
}

.letters__item--re p,
.letters__item--text p {
  width: 100%; 
}

.letters__item--re i,
.letters__item--text i {
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  margin-left: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

.letters__item--re i {
  background-color: #28afd0;
  color: #fff;
}

.letters__item--text i {
  background-color: #fa626b;
  color: #fff;
}

/* chat styles */
.chat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.chat__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem 0 2rem;
}

.chat__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;  
}

.chat__action:not(:last-child) {
  margin-right: 1.5rem;
}

.chat__action i {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: .5rem;
}

.chat__options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__option:not(:first-child) {
  margin-left: 1rem;
}

.chat__option ul {
  color: #333;
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

.chat__option ul li {
  cursor: pointer;
  white-space: nowrap;
  padding: .5rem;
}

.chat__option ul li:hover,
.chat__option ul li:focus {
  background-color: #ccc;
}

.chat__dropdown {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10rem/10rem;
  color: #333;
  cursor: pointer;
  font-size: 1.7rem;
  outline: none;
  padding: .5rem 1rem;
  position: relative;
}

.chat__dropdown i {
  margin-left: 1rem;
}

.chat__option.second .chat__dropdown {
  padding-left: 3.5rem;
}

.chat__options--user {
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: .5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.chat__option.first .chat__dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .5rem;
}

.chat__option.first .chat__dropdown .chat__dropdown-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__option.first .chat__options--user {
  border: 1px solid #fff;
  position: relative;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  left: 0;
}

.chat__option.first .chat__dropdown-box
.chat__options--user:not(:last-child) {
  margin-right: -.5rem;
}

.chat__exit {
  border: 0;
  background: transparent;
  margin: 0 0 0 2rem;
  padding: 0;
}

.chat__exit i {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem;
}

.chat__title {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  height: 10rem;
}

.chat__title--text h5 {
  color: #444;
  font-weight: bold;
  margin-bottom: 1rem;
}

.chat__title--box {
  border: 1px solid #ccc;
  border-radius: .5rem;
  color: #777;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  padding: .3rem 0;
  text-transform: uppercase;
}

.chat__title--box i {
  padding: 0 .5rem;
}

.chat__title--box i:last-child {
  font-size: 1.2rem;
}

.chat__title--badge i {
  color: #777;
  cursor: pointer;
  font-size: 2rem;
}

.chat__title--badge i:last-child {
  margin-left: 1rem;
}

.chat__messages {
  border-bottom: 1px solid #ccc;
  overflow-y: auto;
  padding: 2rem;
  height: calc(100vh - 8rem - 10rem - 6rem);
}

.chat__message {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px #ccc;
          box-shadow: 1px 1px 5px #ccc;
  border-radius: 3rem;
  margin-bottom: 2rem;
  opacity: .5;
}

.chat__message--title {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.chat__message--data {
  width: 100%;
}

.chat__message--data h6 {
  font-size: 2.1rem;
}

.chat__message--data span {
  font-size: 1.8rem;
}

.chat__message--status {
  font-size: 1.5rem;
  text-align: right;
  text-transform: uppercase;
}

.chat__message--status span {
  display: inline-block;
  padding: 0 .5rem;
}

.chat__message--status .days {
  color: #ccc;
  white-space: nowrap;
}

.chat__message--status .seen {
  color: #004fff;
  background-color: #c5d7ff;
  display: none;
}

.chat__message--status .seen.show {
  display: inline-block;
}

.chat__message--text {
  border-top: 1px solid #ccc;
  padding: 2rem;
}

.chat__message--text i.more {
  border: 1px solid #ccc;
  border-radius: 5rem/5rem;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: .5rem 2rem;
}

.chat__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  height: 6rem;
  width: 100%;
}

.chat__avatar {
  margin-right: 2rem;
}

.chat__avatar span {
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  height: 4rem;
  width: 4rem;
}

.chat__print {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.chat__print input {
  border: 1px solid #ccc;
  border-radius: 10rem/10rem;
  font-size: 1.8rem;
  outline: none;
  padding: .5rem 2rem .5rem 2rem;
  width: 100%;
}

.chat__print input:placeholder {
  color: #555;
}

.chat__print i {
  cursor: pointer;
  font-size: 2.5rem;
  line-height: normal;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.chat__print .fa-paperclip,
.chat__print .fa-grin-squint {
  color: #777;
}

.chat__print .fa-paperclip {
  right: 8rem;
}

.chat__print .fa-grin-squint {
  right: 4.5rem;
}

.chat__print .fa-arrow-circle-up {
  color: #09f;
  font-size: 3rem;
  right: .5rem;
}






























/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) and (max-width: 1919.98px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439.98px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1200px) and (max-width: 1439.98px){
  html {
    font-size: 8px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 8px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 7px;
  }

  .navbar__edit .desktop {
    display: none;
  }

  .navbar__edit .tablet {
    display: block;
  }

  .letters {
    width: 30%;
  }
}

@media (max-width: 991.98px) {
  .navbar.show {
    -webkit-box-shadow: 1px 0px 5px #ccc;
            box-shadow: 1px 0px 5px #ccc;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    z-index: 999;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 6px;
  }

  .navbar__edit .desktop {
    display: none;
  }

  .navbar__edit .tablet {
    display: block;
  }

  .letters {
    width: 30%;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  html {
    font-size: 4px;
  }

  .navbar__edit .desktop {
    display: none;
  }

  .navbar__edit .tablet {
    display: block;
  }

  .letters {
    width: 40%;
  }
}

@media (max-width: 480.98px) {
  html {
    font-size: 3px;
  }
}